<?xml version="1.0" encoding="UTF-8"?>
<config
  xmlns="http://resource.bentonow.com/survey/config.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://resource.bentonow.com/survey/config.xsd config.xsd">
  
  <debug externalResourcesAccess="true">
    <logging global="FINER"/>
  </debug>
  
  <server xsi:type="http" host="localhost" port="8080"/>
  
  <admin>
    <credentials username="admin" password="admin"/>
  </admin>
  
  <webApi protocol="https" host="dev.api.bentonow.com" ignoreSecurityErrors="true">
    <parameters>
      <parameter name="api_username" value="seva_kjHgbmAq*7%40%235_%25KLbH"/>
      <parameter name="api_password" value="%245y%2410%24Ldvko.Fby1IhGHl16njuLOIbWlwz9TvMbBjqrph%2FlJuYIQxqTMyuG.86"/>
    </parameters>
  </webApi>
  
  <worker>
    <match field="createdOn">
      <start minutesBeforeNow="1440"/>
      <end minutesBeforeNow="90"/>
    </match>
    <execute every="10" xsi:type="seconds"/>
  </worker>
  
  <mail>
    <server host="smtp.mailgun.org" port="465" protocol="smtps">
      <credentials username="postmaster@mg.bentonow.com" password="45ca46a82cd8b6e3ae4873bcb03c0cad"/>
    </server>
    <message from="feedback@bentonow.com" fromName="Bento" subject="Bento Survey">
      <override to="seva@safris.com"/>
    </message>
  </mail>
  
  <dbcp xmlns="http://commons.safris.org/dbcp.xsd" name="survey">
    <jdbc>
      <url>jdbc:mysql://localhost/survey</url>
      <driverClassName>com.mysql.jdbc.Driver</driverClassName>
      <username>survey</username>
      <password>xqTMy2FluQ</password>
      <loginTimeout>-1</loginTimeout>
    </jdbc>
    <default>
      <autoCommit>true</autoCommit>
      <readOnly>false</readOnly>
      <transactionIsolation>READ_UNCOMMITTED</transactionIsolation>
    </default>
    <size>
      <initialSize>0</initialSize>
      <maxActive>8</maxActive>
      <maxIdle>8</maxIdle>
      <minIdle>0</minIdle>
      <maxWait>-1</maxWait>
    </size>
    <management>
      <timeBetweenEvictionRuns>-1</timeBetweenEvictionRuns>
      <numTestsPerEvictionRun>3</numTestsPerEvictionRun>
      <minEvictableIdleTime>1800000</minEvictableIdleTime>
    </management>
    <preparedStatements>
      <poolPreparedStatements>false</poolPreparedStatements>
      <maxOpenPreparedStatements>-1</maxOpenPreparedStatements>
    </preparedStatements>
    <removal>
      <removeAbandoned>false</removeAbandoned>
      <removeAbandonedTimeout>300</removeAbandonedTimeout>
      <logAbandoned>false</logAbandoned>
    </removal>
  </dbcp>
  
</config>