<?xml version="1.0" encoding="UTF-8"?>
<config
  xmlns="http://resource.bentonow.com/survey/config.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://resource.bentonow.com/survey/config.xsd config.xsd">
  
  <debug externalResourcesAccess="false">
    <logging global="FINER"/>
  </debug>
  
  <server host="dev.survey.bentonow.com" port="80"/>
  
  <admin>
    <credentials username="admin" password="admin"/>
  </admin>
  
  <webApi>
    <parameters>
      <parameter name="api_username" value="seva_kjHgbmAq*7%40%235_%25KLbH"/>
      <parameter name="api_password" value="%245y%2410%24Ldvko.Fby1IhGHl16njuLOIbWlwz9TvMbBjqrph%2FlJuYIQxqTMyuG.86"/>
    </parameters>
  </webApi>
  
  <worker>
    <match field="createdOn">
      <start minutesBeforeNow="1440"/>
      <end minutesBeforeNow="90"/>
    </match>
    <execute every="1" xsi:type="minutes" begin="0"/>
  </worker>
  
  <mail>
    <server host="smtp.mailgun.org" port="465" protocol="SMTPS">
      <credentials username="postmaster@mg.bentonow.com" password="45ca46a82cd8b6e3ae4873bcb03c0cad"/>
    </server>
    <message from="noreply@bentonow.com" subject="Bento Experience Survey">
      <override to="seva@safris.com"/>
    </message>
  </mail>
  
</config>